*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Main-Div{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    min-height:90vh;
}

.Product-image{
    width: 100%;
    height: 400px;
    box-shadow: 0 0 10px #000000;
}

.About-Product{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.Product-name{
    margin-bottom: 10px;
}

.Product-Price{
    margin-bottom: 20px;
}

.Product-Detail-heading{
    /* text-decoration: underline; */
    margin-top: 5px;
    margin-bottom: 10px;
}

.Product-Desc{
    padding: 3px;
}

.btn1{
    margin-top: 25px;
    border: 1px solid goldenrod;
    padding: 8px;
    color: white;
    font-weight: bolder;
    background-color: goldenrod;
    cursor: pointer;
}

.btn1:hover{
    background-color: gold;
    border-radius: 0 10px 0 10px;
}